<app-add-menu-modal></app-add-menu-modal>
<app-delete-menu-modal *ngIf="toDelete" [menuId]="menuId" [menuLabel]="label"></app-delete-menu-modal>
<app-edit-menu-modal *ngIf="openEdit" [menu]="menuEdit"> </app-edit-menu-modal>
<!-- Button trigger add menu modal -->
<div class="container">
  <button type="button" class="btn btn-outline-warning btn-md" style="border-radius:48%" data-bs-toggle="modal" id="addButton" data-bs-target="#addMenuModal">
    <img src="../../../assets/icons/add.svg"id="addImg" alt="">
  </button>
  <!--Menus -->
  <div class="row">
    <div class="col-md-10" id="menuTable">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Weeks</th>
            <th>price</th>
            <th>options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th>{{menu.label}}</th>
            <th>{{menu.availableForWeeks}}</th>
            <th>{{menu.priceDF}}</th>
            <th>
              <div>
                <button type="button" class="btn  btn-sm" (click)="showDetail(menu.id)"><img src="../../../assets/icons/details.svg" alt=""></button>
                <button type="button" class="btn  btn-sm" data-bs-toggle="modal" data-bs-target="#editMenu"  (mousemove)="openEdition(menu.id)" ><img src="../../../assets/icons/edit-button.svg" alt=""></button>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"  data-bs-target="#DeleteMenu" (mousedown)="delete(menu.id)"><img src="../../../assets/icons/trash.svg" alt="trash"></button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshMenus()"></ngb-pagination>
    </div>
    <div class="col-md-6" *ngIf="shownDetail">
      <app-detail-menu [menuId]="menuId" [isOpen]="shownDetail"></app-detail-menu>
    </div>
  </div>
</div>
