.site-footer
{
  background-color: #371450;
  color:#FFD64B;
  padding:45px 0 30px;
  font-size:15px;
  line-height:24px;
  z-index: 1;
  position:fixed;
  bottom: 0;
  width:100%;
  padding-top:50px;
  height:50px; 
}
