<link rel="stylesheet" href="gestion-commande.component.css">

<body>
  <h1>Récapitulatif des commandes passées</h1>
  <table>
    <thead>
      <tr>
        <th>chauvun Lucas</th>
        <th>Date de création : 05/03/2022</th>
        <th>Heure de commande : 8h10</th>
        <th>Contenu de la commande : Menu 1 / Hamburger frites</th>
        <th>statut : Fini </th>
        <!--bouton validé début-->
        <th>
          <form>
            <div class="validé">
                <input type="submit" value="Validé">
            </div>
        </form>
       </th>
       <!--bouton validé fin-->

        <!--bouton Annuler début-->
       <th>
        <form>
          <div class="annuler">
              <input type="reset" value="Annuler">
          </div>
        </form>
       </th>
       <!--bouton annuler fin-->
    </thead>

    <tbody>
      <tr>
        <td>Anais</td>
        <td>5 Mars 2022</td>
        <td>8h30</td>
        <td>Menu 1 / Hamburger frites</td>
        <td>En cours</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Julien</td>
        <td>5 Mars 2022</td>
        <td>8h50</td>
        <td>Menu 4 / Poisson Haricots</td>
        <td>En cours</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Antoine</td>
        <td>5 Mars 2022</td>
        <td>9h05</td>
        <td>Menu 3 / Steak frites</td>
        <td>En cours</td>
        <!--bouton validé,annuler début-->
        <td></td>
        <td></td>
        <!--bouton validé,annuler fin-->
      </tr>
    </tbody>
  </table>
</body>
