<h1>Récapitulatif des commandes passées</h1>

<div class="centerbg">
  <input id="search" type="text" placeholder="Entrez le nom ...">
  <button class="btn" (click)="orderByuser()">🔍</button>
</div>

<div class="bgradius">
  <table class="bgradius">
    <thead class="bgradius">
      <tr>
        <th>Nom Prénom</th>
        <th>Date de création </th>
        <th>Heure de commande </th>
        <th>Contenu de la commande</th>
        <th>statut</th>
        <!--bouton validé début-->
        <th>
          Actions
       </th>
    </thead>

    <tbody>
      <tr *ngFor="let order of orders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{order.user.name}} {{order.user.firstname}}</td>
        <td>{{order.creationDate}}</td>
        <td>{{order.creationTime}}</td>
        <td>
          <span  *ngFor="let quantity of order.quantity">
            <label *ngIf="quantity.meal">{{quantity.meal.label}}</label>
            <label *ngIf="quantity.menu">{{quantity.menu.label}}</label>
          </span>
        </td>
        <td>{{order.status}}</td>
        <td>
          <button class="btn" (click)="validate(order.id)">Valider</button>
          <button class="btn btn-danger" (click)="cancel(order.id)">Annuler</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="bgbg">  <ngb-pagination class="bgbg" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshOrders()"></ngb-pagination> </div>

</div>

