<link rel="stylesheet" href="gestion-commande.component.css">
<body>
 

  <h1>Récapitulatif des commandes passées</h1>
  <table>
    <thead>
      <tr>
        <th>Numero de commande</th>
        <th>Nom Prénom</th>
        <th>Date de création:</th>
        <th>Heure de commande:</th>
        <th>Contenu de la commande:</th>
        <th>statut : en cours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>002</td>
        <td>Anais</td>
        <td>5 Mars 2022</td>
        <td>8h30</td>
        <td>Menu 1 / Hamburger frites</td>
        <td>Fini</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Julien</td>
        <td>5 Mars 2022</td>
        <td>8h50</td>
        <td>Menu 4 / Poisson Haricots</td>
        <td>Préparation</td>
      </tr>
      <tr>
        <td>001</td>
        <td>Antoine</td>
        <td>5 Mars 2022</td>
        <td>9h05</td>
        <td>Menu 3 / Steak frites</td>
        <td>En cours</td>
      </tr>
    </tbody>
  </table>
</body>
