<body>      
      <div class="form">
            <div>
                  <h2>{{user.firstname}} _ {{user.name}}</h2><br>
                  <hr>
                  <label for="">Genre : {{user.sex}}</label> <br>
                  <label for="">Ville : {{user.town}}</label><br>
                  <label for="">Address : {{user.address}}</label><br>
                  <label for="">Code postal : {{user.postalCode}}</label><br>
                  <label for="">Tel : {{user.phone}}</label><br>
                  <label for="">Crédit actuel : {{user.wallet}}</label><br>
            </div>
      </div>
</body>