<body>      
      <div class="form">
            <div>
                  <h2>{{user.firstname}} _ {{user.name}}</h2>
                  <hr>
                  <label for="">Genre : {{user.sex}}</label>
                  <label for="">Ville : {{user.town}}</label>
                  <label for="">Address : {{user.address}}</label>
                  <label for="">Code postal : {{user.postalCode}}</label>
                  <label for="">Tel : {{user.phone}}</label>
                  <label for="">Crédit actuel : {{user.wallet}}</label>
            </div>
      </div>
</body>