img{
  height:20px;
  width: 20px;
  }
  #addButton{
    margin:5px;
  }

.center{
  text-align: center;
}
.indexz{
  z-index: -2;
}
.headerth{
  background-color: #640164;
  color: #FFD64B;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}