<app-add-meal-modal></app-add-meal-modal>
<app-delete-meal-modal *ngIf="toDelete" [mealId]="mealId" [mealLabel]="label"></app-delete-meal-modal>
<app-edit-meal-modal *ngIf="openEdit" [meal]="mealEdit"></app-edit-meal-modal>
<div class="container">
  <div>
    <h1 class="center">Gestionnaire des plats</h1>
  </div>
  <hr>
  <!--Menus -->
  <div class="row">
    <div class="col-md-1">
    <button type="button" class="btn btn-outline-warning btn-md" style="border-radius:48%" data-bs-toggle="modal" id="addButton" data-bs-target="#addMealModal">
      <img src="../../../assets/icons/add.svg" id="addImg" alt="">
    </button>
  </div>
    <div class="col-md-10" id="mealTable">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="headerth">Label</th>
            <th class="headerth">Weeks</th>
            <th class="headerth">price</th>
            <th class="headerth">options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meal of meals | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th>{{meal.label}}</th>
            <th>{{meal.availableForWeeks}}</th>
            <th>{{meal.priceDF}}</th>
            <th>
              <div>
                <button type="button" class="btn  btn-sm" (click)="showDetail(meal.id)"><img src="../../../assets/icons/details.svg" alt=""></button>
                <button type="button" class="btn  btn-sm" data-bs-toggle="modal" data-bs-target="#editMeal"  (mousemove)="openEdition(meal.id)" ><img src="../../../assets/icons/edit-button.svg" alt=""></button>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"  data-bs-target="#DeleteMeal" (mousedown)="delete(meal.id)"><img src="../../../assets/icons/trash.svg" alt="trash"></button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
      <div class="indexz">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshMeals()"></ngb-pagination></div>
    </div>
    <div class="col-md-5" *ngIf="shownDetail">
      <app-detail-meal [mealId]="mealId" [isOpen]="shownDetail"></app-detail-meal>
    </div>
  </div>
  <hr>
</div>
