<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/profil">
                        <span class="nav-text">
                            <img class="imglogo" src="/assets/icons/img_avatar.png" alt="Avatar">
                            Name.exe
                        </span>
                    </a>

                </li>
                <hr>
                <li>
                    <a href="/menu">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Menu
                        </span>
                    </a>

                </li>
                <li>
                    <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            crédité
                        </span>
                    </a>

                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="content">
            TEEEEEEEEEEEEEST
          </section>
  
