<div>
  <nav class="main-menu">
    <ul *ngIf="user.id==0">
        <li>
            <a routerLink="login">
                <span class="nav-text">
                    <img class="imglogo" src="/assets/icons/img_avatar.png" alt="Avatar">
                    Connecter vous
                </span>
            </a>
  
        </li>
        </ul>
    <ul *ngIf="user.id==1">
      <li >
          <a href="profil">
              <span class="nav-text">
                  <img class="imglogo" src="/assets/icons/img_avatar.png" alt="Avatar">
                  {{user.firstname}} {{user.name}}
              </span>
          </a>

      </li>
      </ul>
      <ul>
      <hr>
      <li>
          <a routerLink="panier">
              <i class="fa fa-home fa-2x">🛒</i>
              <span class="nav-text">
                  Panier
              </span>
          </a>

      </li>
      <li>
          <a routerLink="">
              <i class="fa fa-home fa-2x">🏠</i>
              <span class="nav-text">
                  Accueil
              </span>
          </a>
      </li>
      <li *ngIf="user.isLunchLady">
        <a routerLink="menus">
            <i class="fa fa-home fa-2x">🍔</i>
            <span class="nav-text">
                Menu
            </span>
        </a>
    </li>
    <li *ngIf="user.isLunchLady">
      <a routerLink="plats">
          <i class="fa fa-home fa-2x">🥘</i>
          <span class="nav-text">
              Plat
          </span>
      </a>
  </li>
  <li *ngIf="user.isLunchLady">
    <a routerLink="users">
        <i class="fa fa-home fa-2x">👤</i>
        <span class="nav-text">
            Utilisateurs
        </span>
    </a>
</li>
<li *ngIf="user.isLunchLady">
  <a routerLink="commandes">
      <i class="fa fa-home fa-2x">🖲️</i>
      <span class="nav-text">
          Commandes
      </span>
  </a>
</li>
  </ul>

  <ul class="logout" *ngIf="user.id!=0">
      <li>
         <a (click)="logout()">
               <i class="fa fa-power-off fa-2x">❌</i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>
  </ul>
  <ul class="logout" *ngIf="user.id==0">
    <li>
       <a routerLink="login">
             <i class="fa fa-power-off fa-2x">🚪</i>
            <span class="nav-text">
              Login
            </span>
        </a>
    </li>
</ul>
</nav>
</div>


