.card-group{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1em;
  padding: .5rem;
}
.container{
  position: relative; 
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
