.card-group{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1em;
  padding: .5rem;
}
.container{
  position: relative; 
  background: #FFFFFF;
  max-width: 75%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.bgbg{
  border-radius: 50px;
}
.btn{
  opacity: 1;
}
.btn:hover{
  opacity: 0.5;
}