<div class="login-page">
    <div class="form">
      <!-- <form class="register-form">
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
      </form> -->

      <form class="login-form" (ngSubmit)="">



      </form>

      <!-- <form class="login-form" (ngSubmit)="onSubmit(f)" #f="ngForm" id="f">
        <div class="form-group">
          <input class="form-control" type="text" name="email" id="email" [(ngModel)]="user.email" #email="ngModel"/>
          <input class="form-control" type="password" placeholder="password"/>
        <div class="buttonLI">
          <button type="submit">login</button>
          <button>Inscription</button>
        </div>
          <p class="message">Mot de passe oublié ? <a href="#">Contacte la cantinière</a></p>
        </div>
      </form> -->
    </div>
  </div>