.topPage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel{
  color:#FFD64B;
  height: 1000%;
  width: 100%;
}
.firstSlide{
  text-align: center;
  height: 90%;
  width: 100%;
}

.carousel-inner{
  position: inherit;
  width: 100%;
  overflow: hidden;
}

.carousel-item :active{
  height: initial;
}
img{
  width:200px;
  height: 200px;
}
h2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
h4{
  text-align: center;
}
