.card{
  margin: auto;
  width: 70%;
}
.bgbg{
  margin-top: 15px;
  background-color: #FFE787;
  width: 850px;
  border-radius: 50px;
}
.bgradius{
  border-radius: 10px;
}
.card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label{
  padding-left: 10px;
}
.txt{
  text-decoration: underline;
  font-weight: bold;
}
#ingredients{
  display: inline-block;
}

img{
  height: 30px;
  width: 30px;
}
table{
  color:#1E152A;
  --bs-table-striped-color:#1E152A;
  --bs-table-active-color: #1E152A;
}
.btnOrder{
  text-align: center;
}
.btn-warning{
  background-color: #1E152A;
  color:#FFE787;
}

