<div *ngIf="show" class="card border-0 bg-transparent">
  <div class="card-body">
    <div class="card-head" >
      <span>
        <h1 class="card-title">{{menu.label}}</h1>
        <h4 class="card-subtitle mb-2 text-muted">Prix : {{menu.priceDF}} € </h4>
      </span>
      <span>
        <button class="btn btn-light" (click)="close(show)">❌</button>
      </span>
    </div>


    <table class="table" style="width: 800px;">
      <thead>
        <tr>
          <th >
            Plats:
          </th>
          <th>Action:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meal of meals">
          <td>
            <ul class="list-group list-group-flush">
              <li id="" class="list-group-item">
                <img [src]="meal.img" alt="">
                <label for="imgMeal">{{meal.label}}</label>
                <p class="card-subtitle text-muted">Ingredients:</p>
                <ul>
                  <li id="ingredients" *ngFor="let ingredient of meal.ingredients">{{ingredient.label}}, </li>
                </ul>
              </li>
            </ul>
          </td>
          <td  class="btnOrder">
            <p class="card-subtitle text-muted">{{meal.price}} €</p>
            <button class="btnAddCart"  data-bs-toggle="modal" data-bs-target="#orderModal" (click)="addToCart(meal.id)" >Commander</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!--Modal when you add something to the cart-->
  <div class="modal " id="orderModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="orderModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalTitle">Récapitulatif de la commande</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Le plat vient d'être ajouté à votre panier avec succès.
          Vous pouvez continuer à alimenter celui-ci ou aller dans l'onglet correspondant
          afin de consulter les détails et valider votre commande.
        </div>
        <div class="modal-footer">
          <a routerLink="" class="btn btn-outline-warning"  role="button" data-bs-dismiss="modal" (click)="close(show)">Continuer les achats</a>
          <a routerLink="panier" class="btn btn-outline-warning" role="button" data-bs-dismiss="modal">Voir mon panier</a>
        </div>
      </div>
    </div>
  </div>
</div>
